/****** GAME GRID ******/

table {
    max-width: 420px;
    max-height: 420px;
    width: 85vw; /* 85% of the viewport (body) width */
    height: 85vw;
}

td {
    padding: 0;
    width: 33%; /* Every cell should be 1/3 of table height (and width) */
    height: 33%;
}

.cell {
    font-size: 5em;
    height: 100%; /* Fill the container (td) */
    width: 100%;
}

/****** BUTTONS ******/


button {
    cursor: pointer; /* Visually show that you can interact with the button */
    color: #333;
}

#restart {
    font-size: 24px;
    margin: 40px auto;
    display: block;
    border-radius: 2px;
    width: 300px;
}

#choose-value {
    font-size: 24px;
    margin: 40px auto;
    display: block;
    border-radius: 2px;
    width: 150px;
}

/******  HELPER CLASSES  ******/
.center {
    margin: 40px auto;
}

.cannotuse {
    cursor: not-allowed;
}
